.container{
    border: 5px solid grey;
    background-color: black;
    border-radius: 25px;
    width: 600px;
    margin: auto;
}

h1, h3{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    border: 5px solid pink;
    border-radius: 25px;
    background-color: pink;
    margin: 50px 50px 50px 50px;
    
}

button{
    background-color: skyblue;
    text-align: center;
    
    width: 100px;
    margin: 10px 10px 20px 10px;
    border: none;
    outline: none;
    border-radius: 25px;
    justify-content: center;
    cursor: pointer;

}

a{
    text-decoration: none;
    color: #fff;
}